

.loginmainDiv {
    background: #008080;
    padding: 45px 0 70px 0;
    position: relative;
    width: 100%;
    flex: 1 0 auto;
	align-items: center;
	display: flex;
}

.loginBox{max-width: 600px; background: #fff; margin: 0 auto; width: 100%; padding: 15px; border-radius: 10px; box-shadow:0 0 8px 0px #13c8c8;}
.adminLogo {margin-bottom: 45px; text-align: center;}
.loginBox h3.adTitle {
    font-weight: 500 !important;
    text-align: left;
    font-size: 16px;
	margin: 0;}

.fieldSec input[type="text"]{border: 1px solid #f3f3f3;
background: #fff;
border-radius: 2px;
font-size: 17px;
padding: 12px 15px;
height: 52px;}

.fieldSec input[type="password"]{border: 1px solid #f3f3f3;
background: #fff;
border-radius: 2px;
font-size: 17px;
padding: 12px 15px;
height: 52px;}

.fieldSec input[type="submit"]{background: #333; border: none;
border-radius: 2px; font-size: 17px; padding: 12px 15px;}


.btn-primary:not(:disabled):not(.disabled):active{background: #000;}
.fieldSec input.btn-primary:focus[type="submit"]{box-shadow: none;}
.btn-primary:not(:disabled):not(.disabled):active:focus{box-shadow: none;}

.samllWrapper{max-width: 1200px; margin: 0 auto; width: 100%;}


.contentHeaderTop{text-align: center; width: 100%; margin-bottom: 35px;}

.contentHeaderTop p{font-size: 16px;
line-height: 20px;
color: #1e1f21;
margin: 0 0 7px 0;
padding: 0;}

.contentHeaderTop h2{font-size: 32px; line-height: 40px; font-weight: 300; color: #1e1f21;}

a.closeMenu {
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 20px;
  top: 41%;
}



.twoColomSec{width: 100%; display: flex; margin-bottom: 25px;}

.boxSecMain{border: #ccc solid 1px; width: 100%; border-radius: 5px; padding: 15px; display: inline-block; height: 100%; position: relative;}

.boxSecMain h2{color: #000;
font-size: 19px;
font-weight: 300;
margin: 0 0 22px 0;
padding: 0;}
.boxSecMainDescrip{font-size: 16px; color: #6d6e6f;}

.price{font-size: 21px;}
.price i{color: #333;}

.boxSecMain a.buttonBoxOut{background: #106fd0;
margin-top: 15px;
border: #106fd0 solid 1px;
color: #fff;
width: auto;
padding: 6px 9px;
border-radius: 3px;
display: inline-block;
position: absolute; bottom: 15px; right: 15px;}

.boxSecMain a.buttonBoxOut:hover{background: #0b54da;
border: #0b54da solid 1px;
color: #fff;
border-radius: 3px;}


.crCus{color: #CD1114;}
.drCus{color: #3C8608;}


.boxSecMainDescrip ul.downList{margin: 0; padding: 0; list-style-type: none;}
.boxSecMainDescrip ul.downList li{  font-size: 16px; color: #6d6e6f; margin-bottom: 15px; width: 50%; float: left;} 
.boxSecMainDescrip ul.downList li a{display: flex; align-items: center; width: 100%; color: #6d6e6f;}
.boxSecMainDescrip ul.downList li a .iconSec{ border-radius: 10px;
  background: #ccc; width: 44px; height: 44px; margin-right: 12px; align-items: center; display: flex;}

.boxSecMainDescrip ul.downList li a .iconSec img{margin: 0 auto;}


.boxSecMainDescrip ul.downList li a .boxColor1{background: #f26fb2;}

.boxSecMainDescrip ul.downList li a .boxColor2{background: #ec8d71;}

.boxSecMainDescrip ul.downList li a .boxColor3{background: #4573d2;}

.boxSecMainDescrip ul.downList li a .boxColor4{background: #9ee7e3;}


.reportBoxMain{
  /* display: flex;  */
  width: 100%;}

.reportBoxMainList{border: #ccc solid 1px;
width: 100%;
border-radius: 5px;
padding: 35px 15px;
display: inline-block;
height: 100%;
position: relative; text-align: center; background: #ececec;}

.reportBoxMainList .imgsec{font-size: 32px;
background: #259fe8;
height: 64px;
line-height: 64px;
min-width: 64px;
width: 64px;
margin: 0 auto 25px auto;
overflow: hidden;
border-radius: 50px;}

.reportBoxMainList h5{color: #333;
font-size: 16px;
font-weight: 400;
margin: 0 0 6px 0;
padding: 0;}

.reportBoxMainList p{color: #333;font-size: 14px; margin: 0 0 35px 0; padding: 0;}

.reportBoxMainList button.viewMore{font-size: 12px;
line-height: 23px;
padding: 5px 15px;
border: 1px solid #ccc;
display: inline-block;
border-radius: 5px;}


.reportBoxMainList button.viewMore:hover{background: #259fe8; color: #fff; border: 1px solid #fff;}

.calenderSec{padding-right: 15px; display: flex;}

label.dateCustom{margin: 0;}
label.dateCustom span{float: left;
  line-height: 29px;
  padding-right: 10px;
}

.floatNone{float: none !important;}


.w3-dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width:250px;
  margin: 0;
  z-index: 1;
  right: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow:0 0px 4px 1px #e8d8db;
  top: 38px;
  }
  
  .w3-dropdown-content .subDrop1{padding: 19px 10px 10px 10px; text-align: center; display: inline-block; width: 100%;}
  .w3-dropdown-content .subDrop1 ul{list-style-type: none; margin: 0; padding: 0;}
  .w3-dropdown-content .subDrop1 ul li{color: #4c4c4c; font-size: 15px; width: 100%; margin: 0; padding: 0 0 12px 0;}
  .w3-dropdown-content .subDrop1 ul li:first-child{font-weight: 700; font-size: 16px;}
  .w3-dropdown-content .subDrop1 ul li a{color: #4c4c4c; font-size: 15px; width: 100%;}
  
  .w3-dropdown-content .subDrop1 ul li.profileLiCus a{color: #4c4c4c !important;
  font-size: 15px !important;
  width: 100%;
  border: #e6e6e6 solid 1px;
  border-radius: 50px !important;
  padding: 7px 10px !important; height: auto; min-height: auto; line-height: 20px !important;}
  .w3-dropdown-content .subDrop1 ul li.profileLiCus a:hover{background: #ececec;}
  
  .w3-dropdown-content .subDrop2{padding:10px 10px 19px 10px;
  border-top: #bfbfbf solid 1px;
  display: inline-block;
  width: 100%;}
  .w3-dropdown-content .subDrop2 a{border: #e6e6e6 solid 1px;
    border-radius:3px !important;
    padding:7px 10px !important;
    width: 100%;
    margin: 0 !important;
    display: inline-block !important;
    color: #4c4c4c !important;
    font-size: 15px !important;
    font-weight: 500; text-align: center !important;}
  
  .w3-dropdown-content .subDrop2 a:hover{background:#ececec !important;}
  
  /*
  .w3-border {
    border: 1px solid #d03555 !important; border-radius: 10px;
  }
  */
  .w3-show-block, .w3-show {
    display: block !important;
  }


#sidebar, #main_panelNew{transition: all 0.3s;
  transition: all 500ms ease-in-out}



  .dataTables_length label select, .dataTables_filter label input[type="search"] {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.topPrintHeadMain{width: 100%; display: flex;}
.topPrintLogo{padding-right: 15px; width: 12%;}
.topPrintLogoRight{padding-left: 15px; width: 88%; text-align: center;}

.topPrintLogoRight h2{color: #333;
  font-size: 20px;
  margin: 0 0 6px 0;
  padding: 0; text-align: center;}
.topPrintLogoRight h4{    color: #333;
  font-size: 14px;
  margin: 0 0 16px 0;
  padding: 0;
  line-height: 19px;
  text-align: center;}
.topPrintLogoRight h4.h4CustomPrintTop{    color: #333;
  font-size: 16px;}
  
.topPrintLogoRight h5{color: #000;
  font-size: 14px;
  margin: 0 0 11px 0;
  padding: 0;
  line-height: 18px;}

.topPrintLogoRight h5 label{padding: 0; margin: 0;} 

.gstNumberSec{width: 100%; text-align: left;}
.gstNumberSec h5{color: #000;
  font-size: 14px;
  margin: 0 0 11px 0;
  padding: 0;
  line-height: 18px;}
  .gstNumberSec h5 label{padding: 0; margin: 0;} 


.printBtnSec{width: 100%;}
.printBtnSec button.btnCustonPrint{float: left; margin: 0 8px;}
.printBtnSec button.downloadBtn{float: right; margin: 0 8px;}

span.userNameTopRihght{color: #fff;
  font-weight: 700;
  background: #333;
  padding: 5px 14px;
  border-radius: 5px;}

.divToPrintClass table.dataTable>thead>tr>th:not(.sorting_disabled), 
.divToPrintClass table.dataTable>thead>tr>td:not(.sorting_disabled) {
  padding-right: 10px;
}

.divToPrintClass table.dataTable td, .divToPrintClass table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 8px;
  font-size: 14px;
  color: #333;
}

.groupDataStatFrom{margin-bottom: 26px;}

.calenderSecCustome form.formCustom{display: flex;}


.dataTables_paginate a{color: #333; font-size: 13px; font-weight: 500; margin: 0 5px;cursor: pointer;}
.dataTables_paginate span a.paginate_button{padding: 3px 7px;
  background: #106fd0;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;}
.dataTables_paginate span a.paginate_button:hover{background: #0b54da;}



.loginLeftSec{width: 70%; float: left; 
  background: #000; 
  /* background: url("../images/dec30d.png") no-repeat left center; */
  color: #fff;
  padding: 15px; height: 100vh;}

.loginRightSec{
  background: url("../images/dec30d.png") no-repeat left center; 

}





